<tr>
  <td><%= best_in_place project, :client %></td>
  <td><%= best_in_place project, :title %></td>
  <td><%= best_in_place project, :project_type %></td>
  <td><%= best_in_place project, :rfp, type: :checkbox, collection: {'false' => "Negotiated", 'true' => "RFP"} %></td>
  <td><%= best_in_place project, :new_client, type: :checkbox, collection: {'false' => "Existing", 'true' => "New"} %> </td> 
</tr>