<tr>
  <td><%= best_in_place project, :client %></td>
  <td><%= best_in_place project, :title %></td>
  <td><%= best_in_place project, :project_type %></td>
  <td><%= best_in_place project, :rfp, as: :checkbox, collection: {'false' => "Negotiated", 'true' => "RFP"} %></td>
  <td><%= best_in_place project, :new_client, as: :checkbox, collection: {'false' => "Existing", 'true' => "New"} %> </td> 
  <td></td>
  <td><%= best_in_place project, :consulting_revenue, :display_with => :number_to_currency %></td>
  <td><%= best_in_place project, :other_revenue, :display_with => :number_to_currency %></td>
  <td></td>
  <td><%= best_in_place project, :identified_on, as: :date %></td>
  <td><%= best_in_place project, :submitted_on, as: :date %></td>
  <td><%= best_in_place project, :authorized_on, as: :date %></td>
  <td><%= best_in_place project, :lost_on, as: :date %></td>
  <td><%= best_in_place project, :comments, as: :textarea %></td>
</tr>