<tr>
  <td><%= best_in_place project, :backlog_owner_id, as: :select, collection: @backlog_owners %></td>
  <td><%= best_in_place project, :code %></td>
  <td><%= best_in_place project, :client %></td>
  <td><%= best_in_place project, :title %></td>
  <td><%= best_in_place project, :gross_contract %></td>
</tr>