<% if @project.errors.any? %>
  <div id="errors" class="alert alert-danger" role="alert">
    <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>
 
    <ul>
    <% @project.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= simple_form_for @project, :url => url_for(:action => 'create', :controller => 'backlog'),
    :method => 'post' do |f| %>

    <h1 class="text-center">New Project</h1>

    <div class="row">
        <div class="col-sm-6 form-group">
            <%= f.input :client, input_html: {class: "form-control"} %>
        </div>
        <div class="col-sm-6 form-group">
            <%= f.input :title, input_html: {class: "form-control"} %>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 form-group">
            <%= f.input :code, label: "Project Code", input_html: {class: "form-control"} %>
        </div>
        <div class="col-sm-6 form-group">
            <%= f.input :backlog_owner_id, label: "Owner", collection: @backlog_owners, allow_blank: false, input_html: {class: "form-control"} %>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 form-group">
            <%= f.input :gross_contract, input_html: {class: "form-control"} %>
        </div>
    </div>

    <%= f.input :stage, as: :hidden, input_html: { value: "Won" } %>

    <%= f.simple_fields_for :project_backlog_months do |backlog_month_form| %>
        <div class="row">
            <div class="col-sm-4 form-group">
                <%= f.input :percent_complete, label: backlog_month_form.object.date.strftime("%M/%d/%Y"), input_html: {class: "form-control"} %>
            </div>
        </div>
    <% end -%>

    <%= f.button :submit, class: "btn btn-success" %>
<% end %>